@using Task9ASPNetCore.ViewModels
@model StudentViewModel

<div class="container mt-2">
    <div class="row">
        <div class="col-20 alert-success text-center">
            <span class="text-dark" style="font-size: 30px"> Edit Student </span>
        </div>
        <div>
            <form asp-controller="Student" asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="GroupId" />
                <input type="hidden" asp-for="CourseId" />

                <div asp-validation-summary="All"></div>
                <div>
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div>
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>
                <div>
                    <label asp-for="Patronymic"></label>
                    <input asp-for="Patronymic" />
                    <span asp-validation-for="Patronymic"></span>
                </div>
        
                <input type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>